.chessComponentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 2em auto 2em;
}

.chessComponentHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 1em auto;
}

.popButton {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.25em;
}

.flipButton {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.25em;
  margin: 0 0 0 1em;
}

.chessComponentBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* box-shadow: 2px 2px 7px gray; */
}

.chessComponentFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.turnIndicatorLabel {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
}

.turnIndicatorCircleW {
  border-radius: 50%;
  border: 0.01em solid black;
  width: 41px;
  height: 41px;
  margin: auto auto auto 1em;
  background-color: white;
}

.turnIndicatorCircleB {
  border-radius: 50%;
  border: 0.01em solid black;
  width: 41px;
  height: 41px;
  margin: auto auto auto 1em;
  background-color: black;
}